#heading1{
    text-align: center;
}
#p1{
    font-size: larger;
}
/* page 2 */
#heading2{
    text-align: center;
    background-color: blue;
    color: white;
    padding: 40px;
    margin: -15px;
    font-size: xx-large;

}
#div1{
    
}